
<div id="about" class="text" style="margin-top: 100px;margin-bottom: 100px">
      <div class="container" ng-init="productView.loadSingleProduct()">
          
      <div class="col-md-5" >
            <p><img src="{{productView.images}}" alt="" class="img-responsive"></p>
      </div>
          
        <div class="row">
          <div class="col-md-4 col-md-offset-2">
              <p class="lead" style="border-bottom: 2px solid grey">{{productView.productName}}</p>
              <p class="lead "><b>Rs.</b> {{productView.mrp}}</p>
              <p class="lead "><b>Discount</b> : {{productView.discount}}</p>
              <p>A product description is the marketing copy that explains what a product is and why it's worth purchasing. The purpose of a product description is to supply customers with details around the features and benefits of the product so they're compelled to buy.</p>
          </div>
        </div>
          
      </div>
</div> 
    
